body{
    margin: 0;
    padding: 0;
    background-color: #16213e;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

.animated-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.animated-text span{
    position: relative;
}

.animated-text span::before{
    content: "Youtuber";
    color: #474E93;
    animation: words 20s infinite;
}

.animated-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #16213e;
    border-left: 2px solid #474E93;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid #ff7f5000;
    }
}

@keyframes words {
    0%,35% {
        content: "chESA";
    }
    36%,100% {
        content: "YOU";
    }
}

@keyframes typing {
    5%,10%,40%,45% {
        width: 0;
    }
    0%,15%,35%,50% {
        width: calc(100% + 8px);
    }
}