body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; /* Center items vertically */
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

#text {
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.parallax .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    pointer-events: none;
    transition: transform 0.2s linear;
}

.sec {
    position: relative;
    padding: 20px;
    background-color: #003329;
    padding: 100px;
}

.sec h2{
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;

}
.sec p {
   color: #fff; 
}